<!DOCTYPE html>
<html>
<head>
  <title>Dünger App</title>
  <link rel="stylesheet" href="../static/css/styles.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin=""/>
	<!--<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	crossorigin=""></script>
  <script src="https://unpkg.com/leaflet-tilelayer-swiss@2.1.0/dist/Leaflet.TileLayer.Swiss.umd.js" crossorigin
  integrity="sha384-ylX6gm5jl451O0/PN7zKJp+CAJwSvVRu+GmV/Vep3h64jtcCmBs1hLH0LGB+oORb"></script>
	<!--<script src="https://unpkg.com/esri-leaflet@2.3.2/dist/esri-leaflet.js"> </script>
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
  <script src="../static/js/jquery-2.1.4.min.js"></script>
</head>

<body>
  <div id='title'>
    <img id='logo' src='../static/img/basf_logo.jpg'></img>
    <h1 id='txt_title'>Felder festlegen</h1>
  </div>

  <div id='menue' class='input'>
    <div id='place'>
      <p id='txt_place' class='ip_txt'>Ort:*</p>
      <input type='text' id='ip_place'></input>
    </div>
     <br>

    <div id='fieldname'>
      <p id='txt_fieldname' class='ip_txt'>Feldname:</p>
      <input type='text' id='ip_fieldname'></input>
    </div>
     <br>

    <div id='coordinates'>
      <p id='txt_coordinates' class='ip_txt'>Koordinaten</p>
      <input type='text' id='ip_coordinates'></input>
    </div>
     <br>

    <p id='legend' class='ip_txt'>* Eingabe zwingend !!</p>
     <br>

    <div id='search'>
      <button id='searchbutton' class='button' onclick='search()'>Lokation suchen</button>
    </div>
     <br>

    <div id='contour'>
      <a href='/contours' id='contourbutton' class='button {{contourbutton}}'>Feldkonturen festlegen</a>
    </div>
  </div>

  <div id='map'></div>

	<script type="text/javascript" src="../static/js/viewer_incl_zh.js"></script>
  <script type="text/javascript" src="../static/js/search.js"></script>
	<script type="text/javascript">
		createSwisstopoMap('{{coords}}');
    //createMap1();
	</script>
</body>
</html>
