<!DOCTYPE html>
<html>
<head>
  <title>Dünger App</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <div id='title'>
    <img id='logo' src='../static/img/fhnw_logo.jpg'></img>
    <h1 id='txt_title'>Startmenü</h1>
  </div>

  <p id='news'>News...</p>

  <div id='menue'>
    <div id='new_fields'>
      <a href='./fields' class='button'>Feld(er) festlegen</a>
    </div>
    <br>
    <div id='new_plan'>
      <a href='./import_contours' class='button'>Feld(er) importieren</a>
    </div>
     <br>
    <div id='save_plan'>
      <a class='button'>Düngeplan speichern</a>
    </div>
     <br>
  </div>
</body>
</html>
